<div class="flex items-center h-14 gap-4">
  {{ if .Site.Params.enableSearch | default false }}
    <button
      id="search-button-mobile"
      aria-label="Search"
      class="flex items-center justify-center bf-icon-color-hover"
      title="{{ i18n "search.open_button_title" }}">
      {{ partial "icon.html" "search" }}
    </button>
  {{ end }}

  {{ if .Site.Params.footer.showAppearanceSwitcher | default false }}
    <button
      id="appearance-switcher-mobile"
      type="button"
      aria-label="Dark mode switcher"
      class="flex items-center justify-center text-neutral-900 hover:text-primary-600 dark:text-neutral-200 dark:hover:text-primary-400">
      <div class="dark:hidden">
        {{ partial "icon.html" "moon" }}
      </div>
      <div class="hidden dark:block">
        {{ partial "icon.html" "sun" }}
      </div>
    </button>
  {{ end }}
</div>
